a {
    display: inline-block;
    padding: 30px 50px;
    margin: 10px;
    background: #f1f1f1;
    border-radius: 5px;
    text-decoration: none;
    color: black;
}

a:hover, a:visited {
    color: #345633;
}