form {
    display: block;
    margin: 20px auto;
    border: 1px solid #333;
    padding: 20px 10px;
    border-radius: 5px;
    width: 600px;
    background: #666;
}

input {
    box-sizing: border-box;
    display: block;
    width: 90%;
    line-height: 2em;
    font-size: 12px;
    padding: 5px;
    margin: 5px auto;
    background: #fff;
}

button {
    box-sizing: border-box;
    display: block;
    width: 90%;
    margin: 15px auto 2px auto;
    background: #673300;
    padding: 5px;
    color: #fff;
}

button:hover{
    background: #333;
}